Source: python-litenc
Section: python
Priority: optional
Maintainer: Vladimir Vassilev <vladimir@transpacket.com>
Build-Depends: debhelper (>= 9),
               python,
               python-libxml2,
               python-paramiko
Standards-Version: 4.0.0

Package: python-litenc
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-libxml2,
         python-paramiko (>=1.7.7.1),
         ${misc:Depends},
         ${python:Depends}
Recommends: ${python:Recommends}
Description: Python library for NETCONF clients
 litenc is a Python library that facilitates client-side scripting
 and application development around the NETCONF protocol.
 .
 NETCONF (Network Configuration Protocol) provides mechanisms to install,
 manipulate, and delete the configuration of network devices. Its operations
 are realized on top of a simple remote procedure call (RPC) layer.
 .
 The NETCONF protocol uses an Extensible Markup Language (XML) based data
 encoding for the configuration data as well as the protocol messages.
